# Игнорируем файл конфигурации
config.py

# Игнорируем файл окружения
.env

# Игнорируем директорию с кэшами Python
__pycache__/

# Игнорируем директорию с кэшем pytest
.pytest_cache/

# Ключики
reshai
reshai.pub
